*.egg-info
__pycache__
Session.vim
/build
/dist
/lab
/metadata
/notebooks
/outputs
/packaging/assets/ffmpeg
/packaging/assets/models
/packaging/build
/packaging/dist
/release
/release_models
/separated
/tests
/trash
/misc
/mdx
.mypy_cache
